<mat-card style="margin: 1%">
    <h2 style="margin-top: 1%; margin-left: 1%;">Product Inventories</h2>
    <mat-card-header>
        <mat-form-field>
            <input matInput (keyup)="filterChange($event)" placeholder="Search here..."/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Filter transaction date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month" [startAt]="filterDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Filter CutOff</mat-label>
            <mat-select [(value)]="selectedCutOff" (selectionChange)="applyFilterCutOff()">
                <mat-option *ngFor="let cutOff of cutOffOptions" [value]="cutOff">{{ cutOff }}</mat-option>
              </mat-select>
        </mat-form-field>

        <button style="margin-left: 33%;" routerLink="add" mat-raised-button color="primary">Create</button>
        <button style="margin-left: 1%;" mat-raised-button color="primary" (click)="createBatch('AM')">Batch AM</button>
        <button style="margin-left: 1%;" mat-raised-button color="primary" (click)="createBatch('PM')">Batch PM</button>
        <button style="margin-left: 1%;" mat-raised-button color="warn" (click)="exportTable()"><mat-icon>grid_on</mat-icon>Export</button>
    </mat-card-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card-content *ngIf="!isLoading">
        <mat-table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8" id="product-inventories">
            <ng-container matColumnDef="id">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element; let j = index"> {{j+1}} </td>
                <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> Total </td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Transaction Date </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_date | date: 'MM/dd/yyyy' }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="cutoff">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Cut Off </th>
                <td mat-cell *matCellDef="let element"> {{element.cutoff}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="product">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="balance_begin">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Begin Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.balance_begin}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="product_in">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> In </th>
                <td mat-cell *matCellDef="let element"> {{element.product_in}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="balance_end">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Balance End </th>
                <td mat-cell *matCellDef="let element"> {{element.balance_end}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="product_out">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Out | Sold </th>
                <td mat-cell *matCellDef="let element"> {{element.product_out}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="default_prices">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Regular </th>
                <td mat-cell *matCellDef="let element"> ({{element.default_qty}}) {{element.default_prices | currency:'PHP'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="grab_prices">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> GRAB </th>
                <td mat-cell *matCellDef="let element"> ({{element.grab_qty}}) {{element.grab_prices | currency:'PHP'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="panda_prices">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> PANDA </th>
                <td mat-cell *matCellDef="let element"> ({{element.panda_qty}}) {{element.panda_prices | currency:'PHP'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="total_prices">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Total Prices </th>
                <td mat-cell *matCellDef="let element"> {{element.total_prices | currency:'PHP'}} </td>
                <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> {{getTotalPrices() | currency:'PHP'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="edit/{{element.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                    <!-- <button (click)="delete(element.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="isDeleting">
                        <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!isDeleting">Delete</span>
                    </button> -->
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </mat-table>
    </mat-card-content>
    <br>
    <mat-card-footer *ngIf="!isLoading">
        <mat-paginator [pageSize]="1000" [pageSizeOptions]="[100,500,1000]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>